apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: django-ingress
  annotations:
    alb.yc.io/group-name: "k8s-sirius-dev"
spec:
  rules:
    - host: edu-aleksandr-ushakov.yc-sirius-dev.pelid.team
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: django-service
                port:
                  number: 80
