apiVersion: v1
kind: Service
metadata:
  name: postgres-service
spec:
  selector:
    app: postgres-db
  ports:
    - protocol: TCP
      port: {{ .Values.global.service.postgresPort }}
      targetPort: {{ .Values.global.service.postgresPort }}
  type: ClusterIP
---
apiVersion: v1
kind: Service
metadata:
  name: django-service
spec:
  selector:
    app: django-app
  ports:
    - protocol: TCP
      port: {{ .Values.global.service.djangoPort }}
      targetPort: {{ .Values.global.service.djangoPort }}
  type: ClusterIP